.CartContainer {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .ShoppingIcon {
    width: 24px;
    height: 24px;
    margin-top: 20px
  }
}
